.widget-tabs {
    padding: 20px;
    width: 652px;
    height: 475px;
    top: 436px;
    left: 953px;
    border-radius: 8px;
    border: 1px solid #716d6d;
    opacity: 1px;
    background: rgb(25, 26, 28);
    box-shadow: 5.67px 5.67px 3.78px 0px #0e0d0daf;
    background: linear-gradient(327.89deg, #2f2f34 -1.73%, #484b50 89.26%);
}

.tabs {
    display: flex;
    gap: 10px;
    border-radius: 24px;
    background-color: #26292c;
    margin-top: -20px;
}

.tabs button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #2b2b2b;
    border-radius: 50px;
    color: white;
    transition: background-color 0.2s;
}

.tabs button.active {
    background-color: #505253e7;
    color: white;
}

.tab-content p {
    margin-bottom: 30px;
    font-family: Plus Jakarta Sans;
    line-height: 25.2px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #f6f6f6ba;
    text-indent: 50px;
}

.question-mark {
    width: 24px;
    height: 24px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #babdbd;
    font-size: 18px;
    font-weight: bold;
    color: #dddddd;
    opacity: 1;
    margin-bottom: 50px;
}

.flex-box-container {
    display: grid;
    grid-template-columns: repeat(2, 9.31px);
    grid-template-rows: repeat(3, 9.31px);
    gap: 20px;
    margin-top: 25px;
}

.small-flexx-box {
    width: 9.31px;
    height: 9.31px;
    background: #6F787C;
    border-radius: 1.16px 0px 0px 0px;
    border: 1px solid #aeaeae;
    opacity: 1;
    margin-top: 120px;
}