.widget-tabs {
    padding: 20px;
    border: 1px solid #716d6d;
    border-radius: 100px;
    width: 652px;
    height: 475px;
    top: 436px;
    left: 953px;
    gap: 0px;
    opacity: 1px;
    box-shadow: 5.67px 5.67px 3.78px 0px #201e1eaf;
    background: linear-gradient(327.89deg, #050608 -1.73%, #48494c 89.26%);
    margin-top: 50px;
}

.tabs {
    display: flex;
    gap: 10px;
    border-radius: 25px;
    background-color: #040505;
    margin-top: -40px;
    margin-left: 40px;
    border: 8px solid #000000;
}

.tabs button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #121111;
    border-radius: 10px;
    color: white;
    transition: background-color 0.2s;
}

.tabs button.active {
    background-color: #505050e7;
    color: white;
    cursor: pointer;
}

.tab-content p {
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #cac1c1ba;
    text-indent: 50px;
    text-size-adjust: 100%;
}

.question-mark {
    width: 24px;
    height: 24px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #808282;
    font-size: 18px;
    font-weight: bold;
    color: #dddddd;
    opacity: 1;
    background: linear-gradient(327.89deg, #4A4E54 -1.73%, #A3ADBA 89.26%);
    cursor: pointer;
    margin-top: 20px;
}

.flex-box-container {
    display: grid;
    grid-template-columns: repeat(2, 9.31px);
    grid-template-rows: repeat(3, 9.31px);
    gap: 20px;
    margin-top: 15px;
}

.small-flexx-box {
    width: 9.31px;
    height: 9.31px;
    background: #505253;
    border-radius: 1.16px 0px 0px 0px;
    border: 1px solid #898484;
    opacity: 0.5;
    margin-top: 110px;
}