.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: rgb(143, 156, 156);
}

.left-section {
    flex: 1;
    justify-content: center;
}

.right-section {
    flex: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }
    .left-section {
        display: none;
    }
    .right-section {
        width: 100%;
    }
}