.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-top: -50px;
    background-color: rgb(23, 21, 21);
}

.left-section {
    flex: 1;
    justify-content: center;
}

.right-section {
    flex: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }
    .left-section {
        display: none;
    }
    .right-section {
        width: 100%;
    }
}

.gallery-widget {
    width: 100%;
    max-width: 652px;
}